<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .train-alert {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            width: 300px;
            height: 200px;
            z-index: 1000;
            bottom: 20px;
            right: 20px;
        }
        @media only screen and (max-width: 767px) {
            .train-alert {display: none;}
        }
    </style>
</head>
<body>
        <div class="train-alert" id="train-alert">
                <div class="header">
                    แจ้งเตือน
                </div>
              </div>
</body>
</html>