RewriteEngine On

RewriteRule ^register-teacher/$ register-teacher.php [L,QSA]
RewriteRule ^register/$ register.php [L,QSA]
RewriteRule ^login/$ login.php [L,QSA]
RewriteRule ^logout/$ logout.php [L,QSA]

#ARTICLE
RewriteRule ^post/([0-9]+)$ post.php?atid=$1 [L,QSA]

#ADMIN
RewriteRule ^admin/users$ admin.user.php [L,QSA]
RewriteRule ^admin/setting$ admin.setting.php [L,QSA]

#TEACHER
RewriteRule ^dashboard/$ index.php [L,QSA]
RewriteRule ^article/([0-9]+)$ article.php?sub_id=$1 [L,QSA]
RewriteRule ^subject/$ subject.php [L,QSA]
RewriteRule ^docs/$ docs.php [L,QSA]
RewriteRule ^examination/$ examination.php [L,QSA]
RewriteRule ^examination/analyze/$ examination.analyze.php [L,QSA]
RewriteRule ^session/$ session.php [L,QSA]
RewriteRule ^session/analyze/$ session.analyze.php [L,QSA]
RewriteRule ^session/analyze/khan/$ session.analyze.khan.php [L,QSA]
RewriteRule ^examination/qa/$ examination.qa.php [L,QSA]

#STUDENT
RewriteRule ^stu-subject/$ stu-subject.php [L,QSA]
RewriteRule ^stu-article/([0-9]+)$ stu-article.php?sub_id=$1 [L,QSA]
RewriteRule ^stu-examination/$ stu-examination.php [L,QSA]

#NORMAL
RewriteRule ^doing-examination/([a-zA-Z0-9-_]+)$ doing-examination.php?session_id=$1 [L,QSA]
RewriteRule ^cancel-examination/([a-zA-Z0-9-_]+)$ ajax/cancel-examination.php?session_id=$1 [L,QSA]
RewriteRule ^solve-examination/([a-zA-Z0-9-_]+)$ solve-examination.php?session_id=$1 [L,QSA]
RewriteRule ^solve/$ solve.php [L,QSA]

#ADAPTIVE
RewriteRule ^doing-examination-adaptive/([a-zA-Z0-9-_]+)$ doing-examination-adaptive.php?session_id=$1 [L,QSA]
RewriteRule ^cancel-examination-adaptive/([a-zA-Z0-9-_]+)$ ajax/cancel-examination-adaptive.php?session_id=$1 [L,QSA]
RewriteRule ^solve-examination-adaptive/([a-zA-Z0-9-_]+)$ solve-examination-adaptive.php?session_id=$1 [L,QSA]
RewriteRule ^solve-adaptive/$ solve-adaptive.php [L,QSA]

#CONTROLLER
RewriteRule ^ajax/([a-zA-Z0-9-_]+)$ ajax/$1.php [L,QSA]